* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.container {
  padding: 3rem;
}
