.inputs {
  margin-bottom: 4rem;

  &__search {
    padding: 2rem 5rem;
    width: 100%;

    font-family: inherit;
    color: var(--input-text-color);
    font-size: 1.8rem;

    border: none;
    border-radius: 0.5rem;

    background: var(--search-icon);
    background-size: 3rem;

    box-shadow: 0 0 0.8rem 0.5rem var(--shadow-color);

    outline: none;

    &::placeholder {
      color: var(--input-text-color);
    }

    &-form {
      @media (min-width: 620px) {
        flex: 0 1 50rem;
        margin-right: 5rem;
      }
    }
  }

  &__select {
    margin-top: 3rem;
    width: 20rem;

    font-size: 1.8rem;
    font-weight: 600;

    @media (min-width: 620px) {
      margin-top: 0;
      flex: 0 1 30rem;
    }
  }

  @media (min-width: 620px) {
    display: flex;
    justify-content: space-between;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 3rem;
  justify-items: center;
}
