<div class="container">
  <div class="inputs">
    <form #searchForm="ngForm" (ngSubmit)="onSearch()" class="inputs__search-form">
      <input aria-label="country search input" class="inputs__search" name="query" ngModel
             placeholder="Search for a country..." type="text">
    </form>

    <ng-select (change)="onFilter()" [(ngModel)]="selectedFilter" [clearable]="true" [items]="filteringOptions"
               [searchable]="false" class="inputs__select" placeholder="Filter by Region">
    </ng-select>
  </div>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <p *ngIf="error && !isLoading" class="u-centered-text">{{ error }}</p>

  <div (scrolled)="onScroll()" *ngIf="!isLoading && !error" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
       class="list" infiniteScroll>
    <app-country-card *ngFor="let country of countriesRendered" [country]="country"></app-country-card>
  </div>
</div>
